<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Shoe Size Predictor</title>
  </head>
  <body>
<div>
  <form action="/result" method="GET">
    <label for="height">height(cm)</label>
    <input type="text" id="height" name="height">
    <br>
    <label for="sex_no">Sex</label>
    <select id="sex_no" name="sex">
      <option value="1">Male</option>
      <option value="2">Female</option>
    </select>
    <input type="submit" value="Submit">
  </form>
</div>
</body>
</html>